.finder {
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 150px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  display: flex;

  .columns {
    width: 180px;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #d1d1d1;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      height: 36px;
      line-height: 36px;
      border-bottom: 1px solid #d1d1d1;
      cursor: pointer;
      display: flex;

      > * {
        margin-left: 6px;
      }

      span {
        display: inline-block;
        width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .select {
      background-color: #e6f7ff;
    }

    .disable {
      color: #999999;
      cursor: not-allowed;
    }

    .has-child {
      img {
        width: 22px;
        height: 22px;
        margin-top: 7px;
      }
      img:first-child {

      }
      img:last-child {

      }
    }
  }

  .iw-wrap {
    background-color: #fafafa;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    text-align: center;
  }

  .finder-button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
    vertical-align: top;
    display: table;
    .upload {
      width: 100%;
      height: 100%;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding: 8px;
      .upload-icon {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .image-wrap {
    width: 100%;
    position: relative;
    .button-cancel {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 8px;
      left: 8px;
      border: 0;
      border-radius: 14px;
      color: #fff;
      background-color: rgb(255, 70, 70);
      width: 28px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
    }
  }

}
